<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new Chat</h3>
    <form action="/Chats" method="POST">
        <input type="text" placeholder="who are you" name="from"><br><br>
        <textarea name="msg" cols="30" rows="10">Write your message here</textarea><br><br>
        <input type="text" placeholder="add Receiver" name="to"><br><br>
        <button>Send chat</button>

    </form>
</body>
</html>