<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Details></Details></title>
</head>
<body>
    <h1>Details of the student </h1>
    <p>Student id <%= student.id %></p>
    <div class="student">
        <h3 class="user"><%= student.name%></h3>
        <h4 class="user"><%= student.college%></h4>
        <h4 class="user"><%= student.roll%></h4>
    </div>

</body>
</html>