body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #3498db, #8e44ad);
    font-family: Arial, sans-serif;
}

.card {
    width: 500px;
    height: 300px;
    background: linear-gradient(to bottom right, #e74c3c, #f39c12);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-content {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    animation: rotate 2s linear infinite;
}

button {
    position: relative;
    background-color: #04aa8e;
    border: none;
    font-size: 15px;
    color: #fdfdfd;
    padding: 10px;
    width: 130px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }